.SignIn-main {
    display: flex;
    height: 100vh;

    .left {
        background-image: url("../../../public/assets/main.png");
        background-repeat: no-repeat;
        width: 50%;
        background-size: cover;
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 16px;
        align-items: center;

        h2 {
            color: var(--white-100, #FFF);
            text-align: center;
            font-family: Orbitron;
            font-size: 20px;
            font-style: normal;
            font-weight: 400;
            line-height: 100%;
            /* 20px */
            letter-spacing: 3.6px;
        }

        h1 {
            text-align: center;
            font-family: Orbitron;
            font-size: 36px;
            font-style: normal;
            font-weight: 700;
            line-height: 100%;
            /* 36px */
            letter-spacing: 6.48px;

            background: linear-gradient(95deg, #FFF 79.99%, #21242F 102.65%);
            background-clip: text;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
        }

    }

    .right {
        background: linear-gradient(159deg, #0F123B 14.25%, #090D2E 56.45%, #020515 86.14%);
        width: 50%;

        .r-top {

            display: flex;
            flex-direction: column;
            padding-left: 10.72%;
            padding-top: 36%;
            // padding-right: 52.81%;
            width: 80%;
            max-width: 453px;



            h2 {
                color: var(--white-100, #FFF);
                font-family: Orbitron;
                font-size: 30px;
                font-style: normal;
                font-weight: 700;
                line-height: 130%;
                width: 100%;
                padding-bottom: 6.5px;
                /* 39px */
            }

            h3 {
                color: var(--Gray-Gray-400, #A0AEC0);
                font-family: Orbitron;
                font-size: 14px;
                font-style: normal;
                font-weight: 500;
                line-height: 140%;
                width: 100%;
                padding-bottom: 35.5px;
                /* 19.6px */
            }

            div {
                display: flex;
                flex-direction: column;
                padding-bottom: 24px;

                .emaillabel,
                .passwordlabel {
                    color: var(--white-100, #FFF);
                    font-family: Orbitron;
                    font-size: 14px;
                    font-style: normal;
                    font-weight: 500;
                    line-height: 140%;
                    /* 19.6px */
                }

                .email,
                .password {
                    display: flex;
                    width: 100%;
                    height: 49.956px;
                    padding: 0px var(--20, 20px);
                    align-items: center;

                    color: var(--Gray-Gray-400, #A0AEC0);
                    font-family: Orbitron;
                    font-size: 14px;
                    font-style: normal;
                    font-weight: 500;
                    line-height: 140%;
                    /* 19.6px */

                    border-radius: 20px;
                    border: 2px solid #FFF;
                    background: linear-gradient(117deg, rgba(255, 255, 255, 0.00) -3.91%, rgba(255, 255, 255, 0.04) 75.27%);
                    backdrop-filter: blur(21px);

                    &::placeholder {
                        color: var(--Gray-Gray-400, #A0AEC0);
                        font-family: Orbitron;
                        font-size: 14px;
                        font-style: normal;
                        font-weight: 500;
                        line-height: 140%;
                        /* 19.6px */
                    }

                }

            }

            .RememberMe {

                display: flex;
                flex-direction: row;
                gap: 10px;
                width: 100%;


                p {
                    color: var(--white-100, #FFF);
                    font-family: Orbitron;
                    font-size: 12px;
                    font-style: normal;
                    font-weight: 500;
                    line-height: 150%;
                    /* 18px */
                }
            }

            .header-last-div {
                gap: 24px;

                button {
                    display: flex;
                    height: 44.96px;
                    padding: 0px 8px;
                    justify-content: center;
                    align-items: center;
                    flex-shrink: 0;

                    border-radius: var(--12, 12px);
                    background: #0075FF;
                    backdrop-filter: blur(60px);

                    color: var(--white-100, #FFF);
                    text-align: center;
                    font-family: Orbitron;
                    font-size: 10px;
                    font-style: normal;
                    font-weight: 700;
                    line-height: 150%;

                    /* 15px */
                }

                p {
                    color: var(--Gray-Gray-400, #A0AEC0);
                    font-family: Orbitron;
                    font-size: 14px;
                    font-style: normal;
                    font-weight: 500;
                    line-height: 140%;
                    text-align: center;
                    /* 19.6px */

                    span {
                        a {

                            all: unset;
                            color: green;

                            color: #FFF;
                            font-family: Orbitron;
                            font-size: 14px;
                            font-style: normal;
                            font-weight: 700;
                            line-height: 140%;
                        }
                    }
                }
            }
        }

    }

    .info {
        padding-left: 2.18%;



        p {
            color: #A0AEC0;
            font-family: Orbitron;
            font-size: 14px;
            font-style: normal;
            font-weight: 400;
            line-height: 150%;

            span {


                color: #A0AEC0;
                font-family: Orbitron;
                font-size: 14px;
                font-style: normal;
                font-weight: 500;
                line-height: 150%;
            }
        }

        ul {
            list-style: none;
            display: flex;
            padding-left: 13%;
            gap: 30px;



            li {
                color: #A0AEC0;
                font-family: Orbitron;
                font-size: 14px;
                font-style: normal;
                font-weight: 400;
                line-height: 150%;
                /* 21px */
            }
        }
    }

}

.download {
    display: none;
    width: 150px;
    height: 34.969px;
    padding: 0px 8px;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;

    border-radius: var(--12, 12px);
    background: #0075FF;
    backdrop-filter: blur(60px);

    position: absolute;
    bottom: 0;
    right: 0;
}

@media screen and (max-width:900px) {
    .SignIn-main {
        display: flex;
        flex-direction: column;
        height: auto;

        .left {
            background-image: url("../../../public/assets/main.png");
            background-repeat: no-repeat;
            background-size: cover;
            display: flex;
            flex-direction: column;
            justify-content: center;
            gap: 16px;
            align-items: center;
            width: 100vw;
            height: 500px;

            h2 {
                color: var(--white-100, #FFF);
                text-align: center;
                font-family: Orbitron;
                font-size: 20px;
                font-style: normal;
                font-weight: 400;
                line-height: 100%;
                /* 20px */
                letter-spacing: 3.6px;
            }

            h1 {
                text-align: center;
                font-family: Orbitron;
                font-size: 36px;
                font-style: normal;
                font-weight: 700;
                line-height: 100%;
                /* 36px */
                letter-spacing: 6.48px;

                background: linear-gradient(95deg, #FFF 79.99%, #21242F 102.65%);
                background-clip: text;
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
            }

        }

        .right {
            background: linear-gradient(159deg, #0F123B 14.25%, #090D2E 56.45%, #020515 86.14%);
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;

            .r-top {

                display: flex;
                flex-direction: column;
                padding-left: 0;
                padding-top: 50px;
                // padding-right: 52.81%;
                width: 80%;
                max-width: 453px;



                h2 {
                    color: var(--white-100, #FFF);
                    font-family: Orbitron;
                    font-size: 30px;
                    font-style: normal;
                    font-weight: 700;
                    line-height: 130%;
                    width: 100%;
                    padding-bottom: 6.5px;
                    /* 39px */
                }

                h3 {
                    color: var(--Gray-Gray-400, #A0AEC0);
                    font-family: Orbitron;
                    font-size: 14px;
                    font-style: normal;
                    font-weight: 500;
                    line-height: 140%;
                    width: 100%;
                    padding-bottom: 35.5px;
                    /* 19.6px */
                }

                div {
                    display: flex;
                    flex-direction: column;
                    padding-bottom: 24px;

                    .emaillabel,
                    .passwordlabel {
                        color: var(--white-100, #FFF);
                        font-family: Orbitron;
                        font-size: 14px;
                        font-style: normal;
                        font-weight: 500;
                        line-height: 140%;
                        /* 19.6px */
                    }

                    .email,
                    .password {
                        display: flex;
                        width: 100%;
                        height: 49.956px;
                        padding: 0px var(--20, 20px);
                        align-items: center;

                        color: var(--Gray-Gray-400, #A0AEC0);
                        font-family: Orbitron;
                        font-size: 14px;
                        font-style: normal;
                        font-weight: 500;
                        line-height: 140%;
                        /* 19.6px */

                        border-radius: 20px;
                        border: 2px solid #FFF;
                        background: linear-gradient(117deg, rgba(255, 255, 255, 0.00) -3.91%, rgba(255, 255, 255, 0.04) 75.27%);
                        backdrop-filter: blur(21px);

                        &::placeholder {
                            color: var(--Gray-Gray-400, #A0AEC0);
                            font-family: Orbitron;
                            font-size: 14px;
                            font-style: normal;
                            font-weight: 500;
                            line-height: 140%;
                            /* 19.6px */
                        }

                    }

                }

                .RememberMe {

                    display: flex;
                    flex-direction: row;
                    gap: 10px;
                    width: 100%;
                    padding-bottom: 0;


                    p {
                        color: var(--white-100, #FFF);
                        font-family: Orbitron;
                        font-size: 12px;
                        font-style: normal;
                        font-weight: 500;
                        line-height: 150%;

                        /* 18px */
                    }
                }

                .header-last-div {
                    gap: 24px;

                    button {
                        display: flex;
                        height: 44.96px;
                        padding: 0px 8px;
                        justify-content: center;
                        align-items: center;
                        flex-shrink: 0;

                        border-radius: var(--12, 12px);
                        background: #0075FF;
                        backdrop-filter: blur(60px);

                        color: var(--white-100, #FFF);
                        text-align: center;
                        font-family: Orbitron;
                        font-size: 10px;
                        font-style: normal;
                        font-weight: 700;
                        line-height: 150%;

                        /* 15px */
                    }

                    p {
                        color: var(--Gray-Gray-400, #A0AEC0);
                        font-family: Orbitron;
                        font-size: 14px;
                        font-style: normal;
                        font-weight: 500;
                        line-height: 140%;
                        text-align: center;
                        /* 19.6px */

                        span {
                            a {

                                all: unset;
                                color: green;

                                color: #FFF;
                                font-family: Orbitron;
                                font-size: 14px;
                                font-style: normal;
                                font-weight: 700;
                                line-height: 140%;
                            }
                        }
                    }
                }
            }

        }

        .info {
            padding-left: 2.18%;
            padding-bottom: 20px;



            p {
                color: #A0AEC0;
                font-family: Orbitron;
                font-size: 14px;
                font-style: normal;
                font-weight: 400;
                line-height: 150%;

                span {


                    color: #A0AEC0;
                    font-family: Orbitron;
                    font-size: 14px;
                    font-style: normal;
                    font-weight: 500;
                    line-height: 150%;
                }
            }

            ul {
                list-style: none;
                display: flex;
                padding-left: 0;
                gap: 30px;
                justify-content: center;



                li {
                    color: #A0AEC0;
                    font-family: Orbitron;
                    font-size: 14px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 150%;
                    /* 21px */
                }
            }
        }

    }

    .download {
        display: none;
        width: 150px;
        height: 34.969px;
        padding: 0px 8px;
        justify-content: center;
        align-items: center;
        flex-shrink: 0;

        border-radius: var(--12, 12px);
        background: #0075FF;
        backdrop-filter: blur(60px);

        position: absolute;
        bottom: 0;
        right: 0;
    }
}

@media screen and (max-width:768px) {
    .SignIn-main {
        display: flex;
        flex-direction: column;
        height: auto;

        .left {
            background-image: url("../../../public/assets/main.png");
            background-repeat: no-repeat;
            background-size: cover;
            display: flex;
            flex-direction: column;
            justify-content: center;
            gap: 16px;
            align-items: center;
            width: 100vw;
            height: 500px;

            h2 {
                color: var(--white-100, #FFF);
                text-align: center;
                font-family: Orbitron;
                font-size: 20px;
                font-style: normal;
                font-weight: 400;
                line-height: 100%;
                /* 20px */
                letter-spacing: 3.6px;
            }

            h1 {
                text-align: center;
                font-family: Orbitron;
                font-size: 36px;
                font-style: normal;
                font-weight: 700;
                line-height: 100%;
                /* 36px */
                letter-spacing: 6.48px;

                background: linear-gradient(95deg, #FFF 79.99%, #21242F 102.65%);
                background-clip: text;
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
            }

        }

        .right {
            background: linear-gradient(159deg, #0F123B 14.25%, #090D2E 56.45%, #020515 86.14%);
            width: 100%;
            display: flex;
            align-items: center;


            .r-top {

                display: flex;
                flex-direction: column;
                padding-left: 0;
                padding-top: 50px;
                width: 100%;
                max-width: 453px;


                h2 {
                    color: var(--white-100, #FFF);
                    font-family: Orbitron;
                    font-size: 30px;
                    font-style: normal;
                    font-weight: 700;
                    line-height: 130%;
                    width: 100%;
                    padding-bottom: 6.5px;
                    /* 39px */
                }

                h3 {
                    color: var(--Gray-Gray-400, #A0AEC0);
                    font-family: Orbitron;
                    font-size: 14px;
                    font-style: normal;
                    font-weight: 500;
                    line-height: 140%;
                    width: 100%;
                    padding-bottom: 35.5px;
                    /* 19.6px */
                }

                div {
                    display: flex;
                    flex-direction: column;
                    padding-bottom: 24px;

                    .emaillabel,
                    .passwordlabel {
                        color: var(--white-100, #FFF);
                        font-family: Orbitron;
                        font-size: 14px;
                        font-style: normal;
                        font-weight: 500;
                        line-height: 140%;
                        /* 19.6px */
                    }

                    .email,
                    .password {
                        display: flex;
                        width: 100%;
                        height: 49.956px;
                        padding: 0px var(--20, 20px);
                        align-items: center;

                        color: var(--Gray-Gray-400, #A0AEC0);
                        font-family: Orbitron;
                        font-size: 14px;
                        font-style: normal;
                        font-weight: 500;
                        line-height: 140%;
                        /* 19.6px */

                        border-radius: 20px;
                        border: 2px solid #FFF;
                        background: linear-gradient(117deg, rgba(255, 255, 255, 0.00) -3.91%, rgba(255, 255, 255, 0.04) 75.27%);
                        backdrop-filter: blur(21px);

                        &::placeholder {
                            color: var(--Gray-Gray-400, #A0AEC0);
                            font-family: Orbitron;
                            font-size: 14px;
                            font-style: normal;
                            font-weight: 500;
                            line-height: 140%;
                            /* 19.6px */
                        }

                    }

                }

                .RememberMe {

                    display: flex;
                    flex-direction: row;
                    gap: 10px;
                    width: 100%;
                    padding-bottom: 0;


                    p {
                        color: var(--white-100, #FFF);
                        font-family: Orbitron;
                        font-size: 12px;
                        font-style: normal;
                        font-weight: 500;
                        line-height: 150%;

                        /* 18px */
                    }
                }

                .header-last-div {
                    gap: 24px;

                    button {
                        display: flex;
                        height: 44.96px;
                        padding: 0px 8px;
                        justify-content: center;
                        align-items: center;
                        flex-shrink: 0;

                        border-radius: var(--12, 12px);
                        background: #0075FF;
                        backdrop-filter: blur(60px);

                        color: var(--white-100, #FFF);
                        text-align: center;
                        font-family: Orbitron;
                        font-size: 10px;
                        font-style: normal;
                        font-weight: 700;
                        line-height: 150%;

                        /* 15px */
                    }

                    p {
                        color: var(--Gray-Gray-400, #A0AEC0);
                        font-family: Orbitron;
                        font-size: 14px;
                        font-style: normal;
                        font-weight: 500;
                        line-height: 140%;
                        text-align: center;
                        /* 19.6px */

                        span {
                            a {

                                all: unset;
                                color: green;

                                color: #FFF;
                                font-family: Orbitron;
                                font-size: 14px;
                                font-style: normal;
                                font-weight: 700;
                                line-height: 140%;
                            }
                        }
                    }
                }
            }


        }

        .info {
            padding-left: 2.18%;
            padding-bottom: 20px;



            p {
                color: #A0AEC0;
                font-family: Orbitron;
                font-size: 14px;
                font-style: normal;
                font-weight: 400;
                line-height: 150%;

                span {


                    color: #A0AEC0;
                    font-family: Orbitron;
                    font-size: 14px;
                    font-style: normal;
                    font-weight: 500;
                    line-height: 150%;
                }
            }

            ul {
                list-style: none;
                display: flex;
                padding-left: 0;
                gap: 30px;
                justify-content: center;



                li {
                    color: #A0AEC0;
                    font-family: Orbitron;
                    font-size: 14px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 150%;
                    /* 21px */
                }
            }
        }

    }

    .download {
        display: flex;
        width: 120px;
        height: 34.969px;
        padding: 0px 8px;
        justify-content: center;
        align-items: center;
        flex-shrink: 0;

        border-radius: var(--12, 12px);
        background: #0075FF;
        backdrop-filter: blur(60px);

        position: sticky;
        bottom: 0;
        left: 100%;

        color: var(--white-100, #FFF);
        text-align: center;
        font-family: Orbitron;
        font-size: 10px;
        font-style: normal;
        font-weight: 700;
        line-height: 150%;
        /* 15px */
    }

}