.SignUp-main {
    display: flex;
    // height: 100vh;

    .left {
        background-image: url("../../../public/assets/main2.png");
        background-repeat: no-repeat;
        width: 50%;
        background-size: cover;
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 16px;
        align-items: center;

        h2 {
            color: var(--white-100, #FFF);
            text-align: center;
            font-family: Orbitron;
            font-size: 20px;
            font-style: normal;
            font-weight: 400;
            line-height: 100%;
            /* 20px */
            letter-spacing: 3.6px;
        }

        h1 {
            text-align: center;
            font-family: Orbitron;
            font-size: 36px;
            font-style: normal;
            font-weight: 700;
            line-height: 100%;
            /* 36px */
            letter-spacing: 6.48px;

            background: linear-gradient(95deg, #FFF 79.99%, #21242F 102.65%);
            background-clip: text;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
        }

    }

    .right {
        background: linear-gradient(159deg, #0F123B 14.25%, #090D2E 56.45%, #020515 86.14%);
        width: 50%;
        padding-top: 195px;

        .r1 {

            padding-left: 11.32%;
            padding-right: 52.65%;
            text-align: center;
            padding-bottom: 54.5px;


            h2 {

                color: var(--white-100, #FFF);
                font-family: Orbitron;
                font-size: 30px;
                font-style: normal;
                font-weight: 700;
                line-height: 130%;
                /* 39px */
            }

            p {
                color: var(--Secondary-Primary-White, var(--white-100, #FFF));
                font-family: Orbitron;
                font-size: 14px;
                font-style: normal;
                font-weight: 500;
                line-height: 24px;
                /* 171.429% */
            }
        }

        .r2 {

            padding-left: 5.28%;
            padding-right: 46.8%;


            .r2-main {

                border: 2px solid white;
                padding-left: 10.61%;
                padding-right: 12%;


                fill: linear-gradient(124deg, rgba(255, 255, 255, 0.00) -22.71%, rgba(255, 255, 255, 0.04) 70.04%);
                stroke-width: 2px;
                stroke: #FFF;
                backdrop-filter: blur(21px);

                .register {
                    color: var(--white-100, #FFF);
                    text-align: center;
                    font-family: Orbitron;
                    font-size: 18px;
                    font-style: normal;
                    font-weight: 700;
                    line-height: 130%;
                    padding-top: 45.5px;
                    padding-bottom: 30px;
                    /* 23.4px */
                }

                .logolist {

                    display: flex;
                    gap: 15px;
                    padding-bottom: 20px;
                    justify-content: center;


                    .logo {
                        width: 75px;
                        height: 75px;
                        display: flex;
                        justify-content: center;
                        align-items: center;

                        border-radius: 20px;
                        border: 2px solid #FFF;
                        background: linear-gradient(124deg, rgba(255, 255, 255, 0.00) -22.38%, rgba(255, 255, 255, 0.04) 70.38%);
                        backdrop-filter: blur(21px);
                    }
                }

                .or {
                    color: var(--Gray-Gray-400, #A0AEC0);
                    text-align: center;
                    font-family: Orbitron;
                    font-size: 18px;
                    font-style: normal;
                    font-weight: 700;
                    line-height: 140%;
                    /* 25.2px */
                }

                .form {
                    display: flex;
                    flex-direction: column;
                    padding-bottom: 24px;

                    .emaillabel,
                    .passwordlabel,
                    .textlabel {
                        color: var(--white-100, #FFF);
                        font-family: Orbitron;
                        font-size: 14px;
                        font-style: normal;
                        font-weight: 500;
                        line-height: 140%;
                        /* 19.6px */
                    }

                    .email,
                    .password,
                    .text {
                        display: flex;
                        height: 50px;
                        padding: 0px var(--20, 20px);
                        align-items: center;
                        flex-shrink: 0;

                        border-radius: 20px;
                        border: 2px solid #FFF;
                        background: linear-gradient(124deg, rgba(255, 255, 255, 0.00) -22.38%, rgba(255, 255, 255, 0.04) 70.38%);
                        backdrop-filter: blur(21px);

                        color: var(--Gray-Gray-400, #A0AEC0);
                        font-family: Orbitron;
                        font-size: 14px;
                        font-style: normal;
                        font-weight: 500;
                        line-height: 140%;
                        /* 19.6px */
                    }

                }

                .RememberMe {

                    display: flex;
                    flex-direction: row;
                    gap: 10px;
                    width: 100%;
                    padding-bottom: 36.5px;

                }

                .RM {
                    color: var(--white-100, #FFF);
                    font-family: Orbitron;
                    font-size: 12px;
                    font-style: normal;
                    font-weight: 500;
                    line-height: 150%;
                }

            }
        }

        .last-div {
            gap: 24px;
            display: flex;
            flex-direction: column;
            padding-bottom: 45px;


            button {
                display: flex;
                height: 44.96px;
                padding: 0px 8px;
                justify-content: center;
                align-items: center;
                flex-shrink: 0;

                border-radius: var(--12, 12px);
                background: #0075FF;
                backdrop-filter: blur(60px);

                color: var(--white-100, #FFF);
                text-align: center;
                font-family: Orbitron;
                font-size: 10px;
                font-style: normal;
                font-weight: 700;
                line-height: 150%;

                /* 15px */
            }

            p {
                color: var(--Gray-Gray-400, #A0AEC0);
                font-family: Orbitron;
                font-size: 14px;
                font-style: normal;
                font-weight: 500;
                line-height: 140%;
                text-align: center;
                /* 19.6px */

                span {

                    all: unset;

                    a {

                        color: #FFF;
                        font-family: Orbitron;
                        font-size: 14px;
                        font-style: normal;
                        font-weight: 700;
                        line-height: 140%;
                        text-decoration: none;
                    }
                }
            }
        }
    }

    .info {
        padding-left: 2.18%;
        padding-top: 56.5px;
        padding-left: 2.14%;
        padding-right: 4.35%;



        p {
            color: var(--Gray-Gray-400, #A0AEC0);
            font-family: Orbitron;
            font-size: 14px;
            font-style: normal;
            font-weight: 500;
            line-height: 140%;

            /* 19.6px */

            span {

                color: #A0AEC0;
                font-family: Orbitron;
                font-size: 14px;
                font-style: normal;
                font-weight: 500;
                line-height: 150%;
            }
        }

        ul {
            list-style: none;
            display: flex;
            gap: 30px;
            padding-left: 14%;


            li {
                color: #A0AEC0;
                font-family: Orbitron;
                font-size: 14px;
                font-style: normal;
                font-weight: 400;
                line-height: 150%;
                /* 21px */
            }
        }
    }

}