.header-main {
    padding-left: 24.27%;
    padding-right: 24.28%;


    .header {

        display: flex;
        height: 70px;
        // width: 51.40%;
        max-width: 987px;
        width: 80%;
        align-items: center;
        position: absolute;
        top: 24px;
        left: 50%;
        transform: translateX(-50%);
        z-index: 10;


        justify-content: space-between;

        border-radius: 20px;
        border: 2px solid #FFF;
        background: linear-gradient(124deg, rgba(255, 255, 255, 0.00) -22.38%, rgba(255, 255, 255, 0.04) 70.38%);
        backdrop-filter: blur(21px);
        padding-left: 23px;
        padding-right: 24px;

        h3 {
            font-family: Orbitron;
            font-size: 14px;
            font-style: normal;
            font-weight: 500;
            line-height: 100%;
            /* 14px */
            letter-spacing: 2.52px;
            background: linear-gradient(98deg, #FFF 70.67%, rgba(117, 122, 140, 0.00) 108.55%);
            background-clip: text;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;


        }

        .header-list {
            display: flex;
            list-style: none;
            gap: 20px;

            li {

                cursor: pointer;
                .linktag {
                    all: unset;
                    display: flex;
                    align-items: center;
                    gap: 3px;

                    color: var(--white-100, #FFF);
                    text-align: center;
                    font-family: Orbitron;
                    font-size: 10px;
                    font-style: normal;
                    font-weight: 700;
                    line-height: 150%;

                    /* 15px */
                }
            }
        }

        .freedownload {
            display: flex;
            width: 150px;
            height: 34.969px;
            padding: 0px 8px;
            justify-content: center;
            align-items: center;
            flex-shrink: 0;
            border: none;

            border-radius: var(--12, 12px);
            background: #0075FF;
            backdrop-filter: blur(60px);

            color: var(--white-100, #FFF);
            text-align: center;
            font-family: Orbitron;
            font-size: 10px;
            font-style: normal;
            font-weight: 700;
            line-height: 150%;
            /* 15px */

            &:hover {
                border: 1px solid white;
                cursor: pointer;
            }

        }

        .burger {
            display: none;
            height: 34px;
            width: 34px;
        }

        .yes {
            display: none;
        }

        .no {
            display: none;
        }
    }
}

@media screen and (max-width:900px) {
    .header-main {
        padding-left: 24.27%;
        padding-right: 24.28%;


        .header {

            display: flex;
            height: 70px;
            width: 90%;
            // width: 51.40%;
            max-width: 987px;
            align-items: center;
            position: absolute;
            top: 24px;
            left: 50%;
            transform: translateX(-50%);
            z-index: 1;


            justify-content: space-between;

            border-radius: 20px;
            border: 2px solid #FFF;
            background: linear-gradient(124deg, rgba(255, 255, 255, 0.00) -22.38%, rgba(255, 255, 255, 0.04) 70.38%);
            backdrop-filter: blur(21px);
            padding-left: 23px;
            padding-right: 24px;

            h3 {
                font-family: Orbitron;
                font-size: 14px;
                font-style: normal;
                font-weight: 500;
                line-height: 100%;
                /* 14px */
                letter-spacing: 2.52px;
                background: linear-gradient(98deg, #FFF 70.67%, rgba(117, 122, 140, 0.00) 108.55%);
                background-clip: text;
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;


            }

            .header-list {
                list-style: none;
                gap: 20px;
                display: flex;

                li {
                    display: flex;
                    align-items: center;

                    color: var(--white-100, #FFF);
                    text-align: center;
                    font-family: Orbitron;
                    font-size: 10px;
                    font-style: normal;
                    font-weight: 700;
                    line-height: 150%;

                    /* 15px */
                }
            }

            .freedownload {
                display: flex;
                width: 150px;
                height: 34.969px;
                padding: 0px 8px;
                justify-content: center;
                align-items: center;
                flex-shrink: 0;

                border-radius: var(--12, 12px);
                background: #0075FF;
                backdrop-filter: blur(60px);

                color: var(--white-100, #FFF);
                text-align: center;
                font-family: Orbitron;
                font-size: 10px;
                font-style: normal;
                font-weight: 700;
                line-height: 150%;
                /* 15px */
            }

            .burger {
                display: none;
                height: 34px;
                width: 34px;
            }

            .yes {
                display: none;
            }

            .no {
                display: none;
            }
        }
    }
}

@media screen and (max-width:768px) {
    .header-main {
        padding-left: 0;
        padding-right: 0;


        .header {

            display: flex;
            height: 70px;
            width: 100%;
            // width: 51.40%;
            max-width: 987px;
            align-items: center;
            position: absolute;
            top: 24px;
            left: 50%;
            transform: translateX(-50%);
            z-index: 1;


            justify-content: space-between;

            border-radius: 20px;
            border: 2px solid #FFF;
            background: linear-gradient(124deg, rgba(255, 255, 255, 0.00) -22.38%, rgba(255, 255, 255, 0.04) 70.38%);
            backdrop-filter: blur(21px);
            padding-left: 23px;
            padding-right: 24px;

            h3 {
                font-family: Orbitron;
                font-size: 14px;
                font-style: normal;
                font-weight: 500;
                line-height: 100%;
                /* 14px */
                letter-spacing: 2.52px;
                background: linear-gradient(98deg, #FFF 70.67%, rgba(117, 122, 140, 0.00) 108.55%);
                background-clip: text;
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;


            }

            .header-list {
                list-style: none;
                gap: 20px;
                display: flex;
                display: none;

                li {
                    display: flex;
                    align-items: center;

                    color: var(--white-100, #FFF);
                    text-align: center;
                    font-family: Orbitron;
                    font-size: 10px;
                    font-style: normal;
                    font-weight: 700;
                    line-height: 150%;

                    /* 15px */
                }
            }

            .freedownload {
                display: none;
                width: 150px;
                height: 34.969px;
                padding: 0px 8px;
                justify-content: center;
                align-items: center;
                flex-shrink: 0;
                border: none;

                border-radius: var(--12, 12px);
                background: #0075FF;
                backdrop-filter: blur(60px);

                color: var(--white-100, #FFF);
                text-align: center;
                font-family: Orbitron;
                font-size: 10px;
                font-style: normal;
                font-weight: 700;
                line-height: 150%;
                /* 15px */

                &:hover {
                    border: 1px solid #FFF;
                    cursor: pointer;
                }

            }

            .burger {
                display: flex;
                height: 34px;
                width: 34px;
            }

            .no {
                display: none;
            }

            .yes {
                display: flex;
                position: absolute;
                width: 100%;
                left: 0;
                top: 68px;

                border-radius: 20px;
                border: 2px solid #FFF;
                background: linear-gradient(159deg, #0F123B 14.25%, #090D2E 56.45%, #020515 86.14%);
                backdrop-filter: blur(21px);
                padding-left: 23px;
                padding-right: 24px;

                .burger-list {
                    padding-left: 4.5%;
                    display: flex;
                    flex-direction: column;
                    gap: 30px;
                    padding-block: 35px;

                    .burger-items {
                        display: flex;
                        gap: 4px;
                        align-items: center;

                        color: var(--white-100, #FFF);
                        text-align: center;
                        font-family: Orbitron;
                        font-size: 10px;
                        font-style: normal;
                        font-weight: 700;
                        line-height: 150%;
                        /* 15px */
                    }
                }
            }

            .download {
                display: flex;
                position: absolute;
                height: 20px;
                width: 100px;
                right: 0;
                bottom: 0;
                background-color: greenyellow;
            }
        }
    }
}